* {
  scroll-behavior: smooth;
  margin: 20px auto;
  max-width: 610px;
  box-sizing: border-box;
}

:root {
  --greybg: lightgray;
}

body {
  counter-reset: section;
  background-color: var(--greybg);
}

h1,
h2 {
  color: white;
  text-shadow: 1px 1px 2px black;
}

p {
  font-family: verdana, sans-serif;
  font-size: 20px;
}

#githubtext {
  font-size: small;
}

.externallink {
  text-decoration: none;
  color: #008cba;
}

p.intro {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}

.maincontainer {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 40px;
}

.profileimage {
  max-width: 100%;
  margin-top: 40px;
  /* border: 4px solid white; */
  /* border: 4px solid #ffffff; */
  /* border: 4px solid hsl(0, 100%, 100%); */
  border: 4px solid rgb(255, 255, 255);

  /* border: 4px solid hsla(9, 100%, 64%, 0.5); */
  /* border: 4px solid rgba(255, 91, 71, 0.5); */
}

.profileimage:hover {
  opacity: 0.5;
}

.tech {
  border: 2px solid white;
  padding: 0 20px;
  /* padding-right: 20px; */
  border-radius: 12px;
  margin-bottom: 40px;
}

li {
  line-height: 200%;
}

.moreaboutcontainer {
  display: flex;
  flex-direction: column;
}

q {
  outline: 2px ridge red;
  outline-offset: 4px;
  margin: 12px;
  text-align: center;
  border: 1px solid black;
}

.navigate {
  max-width: 610px;
  margin: 20px auto;
}

.address {
  max-width: 610px;
  margin: 20px auto 0;
}
p.lorem1 {
  max-width: 610px;
  margin: 20px auto;
  direction: rtl;
  letter-spacing: 5px;
}

p.lorem2 {
  direction: rtl;
  unicode-bidi: bidi-override;
  letter-spacing: -2px;
  line-height: 1.8;
  word-spacing: 10px;
  transform: matrix(1, 0, 0.5, 1, 150, 0);
  /* transform: skew(20deg, 10deg); */
  /* transform: scaleY(0.5); */
  /* transform: rotate(20deg); */
  /* transform: translate(50px, 100px); */
  /* transform: rotateZ(90deg); */
  /* transform: rotateY(150deg);
  transform: rotateX(150deg); */
}

.decoration1 {
  text-decoration: overline;
  text-decoration-color: red;
}

.decoration2 {
  text-decoration: line-through;
  text-decoration-color: blue;
  font-weight: bold;
}

.decoration3 {
  text-decoration: underline;
  text-decoration-color: green;
}

.decoration4 {
  text-decoration: overline underline;
  text-decoration-color: purple;
}

a.mailto:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a.mailto:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a.mailto:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a.mailto:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

table {
  width: 50%;
  border-collapse: collapse;
  text-align: left;
  margin: 0 0 0 0;
}

th,
td {
  border-bottom: 1px solid gray;
}

.displaynone {
  display: none;
}

.hidden {
  visibility: hidden;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  color: white;
  background-color: green;
  border: 2px solid #4caf50;
  text-align: center;
  z-index: 20;
}

.overflow {
  margin-top: 20px;
  height: 50px;
  overflow: scroll;
}

.floatalign {
  float: right;
  padding: 15px;
}

.inlineblock {
  display: inline-block;
  width: 100px;
  height: auto;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

#dragdrop {
  display: flex;
  margin: 40px 0;
}

#dragbox1,
#dragbox2 {
  width: 100px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

q:lang(no) {
  quotes: "~""~";
}

::marker {
  color: red;
  font-size: 23px;
}

::selection {
  color: red;
  background: yellow;
}

p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}

p::first-line {
  font-variant: small-caps;
}

.nav {
  --greybg: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--greybg);
}

.navlink {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #4d3030;
  border-radius: 4px;
  box-sizing: border-box;
}

h2::before {
  counter-increment: section;
  content: "Section " counter(section) ": ";
}

#sometext {
  left: 50px;
  width: calc(100% - 200px);
  border: 1px solid black;
  background-color: yellow;
  padding: 5px;
}

div {
  background-color: transparent;
}

.text1 {
  max-width: 200px;
  word-wrap: break-word;
}

.transition {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 2s, transform 2s;
}

.transition:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}

.animate {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: animationname 5s linear 2s infinite alternate;
}

@keyframes animationname {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.parisimage {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

div.paris2 {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

/* start */

.overlaycontainer {
  position: relative;
  width: 50%;
}

.imageavatar {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlaycontainer:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.newspaper {
  column-count: 3;
  column-gap: 40px;
  column-rule: 1px solid lightblue;
}

.headingnewspaper {
  column-span: all;
}

textarea {
  resize: none;
}

.resizable {
  --greybg: white;
  border: 2px solid;
  padding: 20px;
  width: 600px;
  resize: both;
  overflow: auto;
  background-color: var(--greybg);
}

@media screen and (max-width: 600px) {
  body {
    --greybg: olive;
    background-color: var(--greybg);
  }
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-rows: 80px 120px;
  grid-template-columns: 80px 200px auto 40px;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: start; */
  /* justify-content: center; */
  /* justify-content: end; */
  align-content: center;
}

.grid-container > div {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container-2 {
  display: grid;
  grid-template-areas: "myArea myArea myArea myArea myArea";
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container-2 > div {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item8 {
  grid-area: 2 / 1 / span 2 / span 3;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  border-right: 16px solid lightgray;
  border-left: 16px solid lightgray;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
